[Unit]
Description=Ethereum Farming (Cuda)
After=network-online.target auditd.service
Requires=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -x /usr/local/bin/farm.sh 0
Restart=always

[Install]
WantedBy=multi-user.target
