[Unit]
Description=Overclock Nvidia Cards

[Service]
Type=oneshot
ExecStart=/bin/bash -x /usr/local/bin/nvidia-overclock.sh start

[Install]
WantedBy=multi-user.target
