[Unit]
Description=Ethereum Farming (OpenCL)
After=network-online.target auditd.service 
Requires=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -x /usr/local/bin/opencl-farm.sh start
ExecStop=/bin/bash -x /usr/local/bin/opencl-farm.sh stop
ExecReload=/bin/bash -x /usr/local/bin/opencl-farm.sh reload
Restart=always

[Install]
WantedBy=multi-user.target
