[Unit]
Description=Ethereum Farming (OpenCL)
After=network-online.target auditd.service 
Requires=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -x /usr/local/bin/farm.sh 1
Restart=always

[Install]
WantedBy=multi-user.target
